/* Default Light Theme */
:root {
  --bg-color: white;
  --text-color: black;
  --primary-color: #1a73e8;
  --secondary-color: #f1f3f4;
}

/* Dark Theme */
[data-theme='dark'] {
  --bg-color: #121212;
  --text-color: white;
  --primary-color: #bb86fc;
  --secondary-color: #333333;
}
